* {
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    --linear-gradient: linear-gradient(to right, #544B9E, #74B7D4);
}

body {
    background: var(--linear-gradient);
}

/* Mobile */

.flex-nav {
    background: rgba(4, 13, 141, 0.171);
    border: 1px solid black;
    margin: 20px 100px;
    border-radius: 10px;
}

/* Flex container */
.flex-nav ul {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.flex-nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 2rem;
    width: 100%;
    display: inline-block;
    text-align: center;
}

/* Flex items*/
.flex-nav li {
    flex: 1 1 100%;
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100% */
}

.flex-nav .social {
    flex: 1 1 25%;
}

@media (min-width: 700px) {

    .flex-nav li {
        flex: 1 1 50%;
    }

}

@media (min-width: 1000px) {

    .flex-nav li {
        /* flex: 3; */
        flex-grow: 3;
        flex-shrink: 1;
        flex-basis: 0%
    }

    .flex-nav .social {
        /* flex: 1; */
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%
    }
}